<nav class="col-lg-11 mt-auto mb-auto col-9">
    <ul class="nav nav-pills">
        <li class="nav-item border-right">
            <a class="nav-link active" href="<%=link%>">
                <%=nombreLink%>
            </a>
        </li>
    </ul>
</nav>